[Unit]
Description=Oxide display server
After=home.mount
StartLimitInterval=30
StartLimitBurst=5
Before=oxide-reboot.service oxide-shutdown.service
Conflicts=xochitl.service
Conflicts=sync.service

[Service]
Type=dbus
BusName=codes.eeems.blight1
# For reMarkable with rm2fb: ExecStart=/opt/bin/rm2fb-client /opt/bin/blight --break-lock
# For QEMU/i.MX6 without rm2fb:
ExecStart=/usr/bin/blight --break-lock
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
